@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@300;400;500;700&display=swap');

.container {
    background-image: url(../../../public/images/background-rxlog.png);
    background-size: cover;
    /* background-color: #D7D9D8; */
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h2 {
    color: #D7D9D8;
    font-family: "Bree Serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    margin-bottom: 16px;
}

p, li {
    color: #D7D9D8;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0em 30em 5px 0em;
    margin-bottom: 10px;
}